{% extends "_layouts/main" %}
{% block content %}

{% include "_includes/header" %}
<!-- Faq One -->
	<section class="faq-one">
		<div class="auto-container">
		
			<div class="inner-container">
				<h4>Shipping Information</h4>
				<div class="row clearfix">
					
					<!-- Column -->
					<div class="column col-lg-6 col-md-6 col-sm-12">
						<!-- Accordion Box -->
						<ul class="accordion-box style-two">
									
							<!-- Block -->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>When will my order ship?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
										
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>When will my order arrive?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can you leave my order outside my door?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do you ship to?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What payments do you accept?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What payments do you accept?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
					
					<!-- Column -->
					<div class="column col-lg-6 col-md-6 col-sm-12">
						<!-- Accordion Box -->
						<ul class="accordion-box style-two">
									
							<!-- Block -->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>I'm having trouble with my part, what should I do?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
										
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How long does it take to ship to me?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What is a Refundable Core Deposit?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do you ship to?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How long do I have to send back my core?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do I return my core?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="inner-container">
				<h4>Payments</h4>
				<div class="row clearfix">
					
					<!-- Column -->
					<div class="column col-lg-6 col-md-6 col-sm-12">
						<!-- Accordion Box -->
						<ul class="accordion-box style-two">
									
							<!-- Block -->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>When will my order ship?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
										
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>When will my order arrive?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can you leave my order outside my door?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do you ship to?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What payments do you accept?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What payments do you accept?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
					
					<!-- Column -->
					<div class="column col-lg-6 col-md-6 col-sm-12">
						<!-- Accordion Box -->
						<ul class="accordion-box style-two">
									
							<!-- Block -->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>I'm having trouble with my part, what should I do?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
										
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How long does it take to ship to me?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What is a Refundable Core Deposit?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do you ship to?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How long do I have to send back my core?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do I return my core?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="inner-container">
				<h4>Warranty</h4>
				<div class="row clearfix">
					
					<!-- Column -->
					<div class="column col-lg-6 col-md-6 col-sm-12">
						<!-- Accordion Box -->
						<ul class="accordion-box style-two">
									
							<!-- Block -->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>When will my order ship?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
										
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>When will my order arrive?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can you leave my order outside my door?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do you ship to?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What payments do you accept?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What payments do you accept?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
					
					<!-- Column -->
					<div class="column col-lg-6 col-md-6 col-sm-12">
						<!-- Accordion Box -->
						<ul class="accordion-box style-two">
									
							<!-- Block -->
							<li class="accordion block active-block">
								<div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>I'm having trouble with my part, what should I do?</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
										
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How long does it take to ship to me?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What is a Refundable Core Deposit?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do you ship to?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How long do I have to send back my core?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
							<!-- Block -->
							<li class="accordion block">
								<div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Where do I return my core?</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">We're always working to get your orders on their way to you as quickly as we can. Most orders will be dispatched within 2-4 business days, though there may be some delays around sales and peak periods. You'll get a notification when your order has started its journey.</div>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="faq-one_email-box text-center">
				<h3 class="faq-one_title">Can’t find what you are <br> looking for?</h3>
				<div class="faq-one_btn">
					<a href="#"><i class="fa-classic fa-regular fa-envelope fa-fw"></i> email us</a>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Faq One -->

{% endblock %}