<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Strip .html extension internally (Craft sees /contact, not /contact.html)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.+)\.html$ $1 [L,QSA]
</IfModule>



<IfModule mod_rewrite.c>
    RewriteEngine On

    # Route 404s to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php [L]
</IfModule>
